// Microsoft Visual C++ generated resource script.
//
#include "../header_files/resource.h"
#include "../header_files/Version.h"
/////////////////////////////////////////////////////////////////////////////
// 日语(中性) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_JPN)
LANGUAGE LANG_JAPANESE, SUBLANG_NEUTRAL

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_POPUP MENU
BEGIN
    POPUP "popup"
    BEGIN
        MENUITEM "最初の行へ移動(&T)",                 ID_TAMA_JUMPTOP
        MENUITEM "最後の行へ移動(&B)",                 ID_TAMA_JUMPBOTTOM
        MENUITEM SEPARATOR
        MENUITEM "クリップボードにコピーする(&C)\tCtrl+C",   ID_TAMA_COPY
        MENUITEM SEPARATOR
        MENUITEM "警告時のプロンプト(&W)",               32781
        MENUITEM "ログ受信(&V)",                    ID_TAMA_RECEIVE
        MENUITEM "SHIORIの所有権の自動譲渡無効",           ID_TAMA_DISABLE_AUTO_TRANSFER_SHIORI_OWNERSHIP
        MENUITEM SEPARATOR
        MENUITEM "リクエスト送信パネルを開く(&Q)",           ID_TAMA_REQUEST
        MENUITEM SEPARATOR
        MENUITEM "リロード(&R)",                    ID_TAMA_RELOAD
        MENUITEM "アンロード(&U)",                   ID_TAMA_UNLOAD
        MENUITEM SEPARATOR
        MENUITEM "終了(&X)",                      ID_TAMA_EXIT
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_GHOST_SELECT DIALOGEX 0, 0, 310, 177
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "ゴースト選択"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,199,156,50,14
    PUSHBUTTON      "キャンセル",IDCANCEL,253,156,50,14
    LISTBOX         IDC_GHOST_SELECT_LIST,7,7,296,145,LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
END

IDD_SEND_REQUEST DIALOGEX 0, 0, 282, 146
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "リクエスト送信"
FONT 9, "ＭＳ Ｐゴシック", 0, 0, 0x0
BEGIN
    CONTROL         "",IDC_SEND_REQUEST_RICHEDIT,"RICHEDIT",TCS_HOTTRACK | TCS_VERTICAL | TCS_FOCUSONBUTTONDOWN | TCS_MULTISELECT | WS_BORDER | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP,0,0,281,116
    DEFPUSHBUTTON   "送信",IDC_SEND,7,125,226,14
    PUSHBUTTON      "キャンセル",IDCANCEL,239,125,36,14
END


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_GHOST_SELECT, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 303
        TOPMARGIN, 7
        BOTTOMMARGIN, 170
    END

    IDD_SEND_REQUEST, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 275
        TOPMARGIN, 7
        BOTTOMMARGIN, 139
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// AFX_DIALOG_LAYOUT
//

IDD_GHOST_SELECT AFX_DIALOG_LAYOUT
BEGIN
    0
END

IDD_SEND_REQUEST AFX_DIALOG_LAYOUT
BEGIN
    0
END


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE
BEGIN
    IDS_APP_TITLE           "玉 - AYA5 Log Viewer"
    IDS_ERROR_NONE_GHOST    "動作中のゴーストが存在しません"
    IDS_ERROR_TITLE         "エラー"
    IDS_ERROR_GHOST_NOT_FOUND_P1 "ターゲットゴースト「"
    IDS_ERROR_GHOST_NOT_FOUND_P2 "」が見つかりません"
    IDS_EVENT_DEF_REMINDER  "注意：何も起こらない場合は、ゴーストのtamaOpenとtamaExitのイベントにリアクションを追加する必要があります。\n詳しくは https://github.com/nikolat/tama をご覧ください。\n\nもし、あなたのdicファイルがどこで間違ったのか知りたいだけなら、aya.dllまたはyaya.dllをこのウィンドウにドラッグしてください。\n"
    IDS_ERROR_NULL_GHOST_HWND "不明なエラーにより、ゴースト hwnd が NULL になっています。"
    IDS_GHOST_SELECT_START_WITH_OUT_GHOST "ghostを選択せずに起動"
    IDS_ERROR_LOST_GHOST_LINK "ターゲットゴーストへのリンクが失われ、tamaを終了するところです。"
END

STRINGTABLE
BEGIN
    IDS_ERROR_GHOST_ALREADY_HAS_TAMA 
                            "対象のゴーストはすでに対応する玉インスタンスを持っているので、この玉を終了しようとしています。"
    IDS_ERROR_DRAGGING_FILE_IS_NOT_ALLOWED 
                            "対象のゴーストとのリンクが確立されており、別のshioriのインスタンスのロードは許可されません。\n別のshioriを読み込む必要がある場合は、別の玉を開いてください。"
    IDS_NEW_VERSION_AVAILABLE "新しいバージョンがあります。\nダウンロードしますか？"
    IDS_ERROR_UNEXPECTED_EXCEPTION 
                            "予期せぬ例外が発生しました。\n問題を特定するために、レポートファイル ""Dump.dmp"" を開発者に送信してください。"
    IDS_TARGET_GHOST_SHIORI_UNLOADED 
                            "対象のゴーストのSHIORIはアンロードされています。\n右クリックから「リロード」を選択して、対象のゴーストのSHIORIをリロードしてください。"
    IDS_ASK_IF_GHOST_RUNNING "このゴーストは起動していません。\n起動しますか？"
    IDS_ERROR_RUN_SSP_FAILED "SSPの起動に失敗しました。"
    IDS_ERROR_SSP_RUNNING_TIMEOUT "SSPの起動でタイムアウトしました。"
    IDS_INFO_TITLE          "注意"
    IDS_SELF_IN_GHOST_DIR_ASK_IF_RUN_SSP 
                            "この玉はゴーストフォルダに入っています。\nゴーストを起動してリンクさせますか？"
END

#endif    // 日语(中性) resources
/////////////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////////////
// 非特定语言 resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_NEU)
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION VERSION_NUMS
 PRODUCTVERSION VERSION_NUMS
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "Comments", "AYA Console"
            VALUE "FileDescription", CONSTRUCTION_TIMES_STRING(CONSTRUCTION_TIMES)
            VALUE "FileVersion", RC_VERSION_STRING(VERSION_NUM1,VERSION_NUM2,VERSION_NUM3,VERSION_NUM4)
            VALUE "InternalName", "tama"
            VALUE "OriginalFilename", "tama.exe"
            VALUE "ProductName", "tama"
            VALUE "ProductVersion", RC_VERSION_STRING(VERSION_NUM1,VERSION_NUM2,VERSION_NUM3,VERSION_NUM4)
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_DRAGFILES           ICON                    "icon/tama.ico"

IDI_SMALL               ICON                    "icon/small.ico"

#endif    // 非特定语言 resources
/////////////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////////////
// 中文(简体) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_CHS)
LANGUAGE LANG_CHINESE, SUBLANG_NEUTRAL

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_POPUP MENU
BEGIN
    POPUP "popup"
    BEGIN
        MENUITEM "跳转到顶部(&T)",                   ID_TAMA_JUMPTOP
        MENUITEM "跳转到底部(&B)",                   ID_TAMA_JUMPBOTTOM
        MENUITEM SEPARATOR
        MENUITEM "复制到粘贴板(&C)\tCtrl+C",          ID_TAMA_COPY
        MENUITEM SEPARATOR
        MENUITEM "警告时提示(&W)",                   ID_TAMA_ALERTONWARNING
        MENUITEM "日志接收(&V)",                    ID_TAMA_RECEIVE
        MENUITEM "禁用SHIORI所有权自动转移",             ID_TAMA_DISABLE_AUTO_TRANSFER_SHIORI_OWNERSHIP
        MENUITEM SEPARATOR
        MENUITEM "打开request发送面板(&Q)",           ID_TAMA_REQUEST
        MENUITEM SEPARATOR
        MENUITEM "重新加载shiori(&R)",              ID_TAMA_RELOAD
        MENUITEM "卸载shiori(&U)",                ID_TAMA_UNLOAD
        MENUITEM SEPARATOR
        MENUITEM "退出tama(&X)",                  ID_TAMA_EXIT
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_GHOST_SELECT DIALOGEX 0, 0, 310, 177
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "选择ghost"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "确定",IDOK,199,156,50,14
    PUSHBUTTON      "取消",IDCANCEL,253,156,50,14
    LISTBOX         IDC_GHOST_SELECT_LIST,7,7,296,145,LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
END

IDD_SEND_REQUEST DIALOGEX 0, 0, 282, 146
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "发送request"
FONT 9, "ＭＳ Ｐゴシック", 0, 0, 0x0
BEGIN
    CONTROL         "",IDC_SEND_REQUEST_RICHEDIT,"RICHEDIT",TCS_HOTTRACK | TCS_VERTICAL | TCS_FOCUSONBUTTONDOWN | TCS_MULTISELECT | WS_BORDER | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP,0,0,281,116
    DEFPUSHBUTTON   "发送",IDC_SEND,7,125,226,14
    PUSHBUTTON      "取消",IDCANCEL,239,125,36,14
END


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_GHOST_SELECT, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 303
        TOPMARGIN, 7
        BOTTOMMARGIN, 170
    END

    IDD_SEND_REQUEST, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 275
        TOPMARGIN, 7
        BOTTOMMARGIN, 139
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// AFX_DIALOG_LAYOUT
//

IDD_GHOST_SELECT AFX_DIALOG_LAYOUT
BEGIN
    0
END

IDD_SEND_REQUEST AFX_DIALOG_LAYOUT
BEGIN
    0
END


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE
BEGIN
    IDS_APP_TITLE           "Tama - AYA5日志查看器"
    IDS_ERROR_NONE_GHOST    "没有ghost在运行中"
    IDS_ERROR_TITLE         "错误"
    IDS_ERROR_GHOST_NOT_FOUND_P1 "未找到目标ghost“"
    IDS_ERROR_GHOST_NOT_FOUND_P2 "”"
    IDS_EVENT_DEF_REMINDER  "一个友好的提醒：如果什么都没有发生，你需要在你的ghost中添加对tamaOpen和tamaExit事件的反应\n详见https://github.com/nikolat/tama\n\n如果你只是想知道你的dic文件出错于哪里，请将aya.dll或yaya.dll拖到这个窗口中\n\n"
    IDS_ERROR_NULL_GHOST_HWND "未知错误导致ghost hwnd为NULL"
    IDS_GHOST_SELECT_START_WITH_OUT_GHOST "不选择任何ghost并启动"
    IDS_ERROR_LOST_GHOST_LINK "与目标ghost的链接丢失，即将退出tama"
END

STRINGTABLE
BEGIN
    IDS_ERROR_GHOST_ALREADY_HAS_TAMA "目标ghost已经有了一个对应的tama实例，即将退出这个tama"
    IDS_ERROR_DRAGGING_FILE_IS_NOT_ALLOWED 
                            "已与目标ghost建立链接，不允许加载另一个shiori实例。\n如果你需要加载另一个shiori，请另打开一个tama。"
    IDS_NEW_VERSION_AVAILABLE "新版本可用。\n跳转至下载页面？"
    IDS_ERROR_UNEXPECTED_EXCEPTION 
                            "发生了未预料到的异常\n请将汇报文件“Dump.dmp”发送给开发者以帮助确定问题所在"
    IDS_TARGET_GHOST_SHIORI_UNLOADED 
                            "目标ghost的shiori处于卸载状态\n右键并选择“重新加载shiori”来使得目标ghost的shiori重新被加载"
    IDS_ASK_IF_GHOST_RUNNING "这个ghost没有在运行\n试着启动他/她/它/他们？"
    IDS_ERROR_RUN_SSP_FAILED "启动SSP失败。"
    IDS_ERROR_SSP_RUNNING_TIMEOUT "启动SSP超时。"
    IDS_INFO_TITLE          "注意"
    IDS_SELF_IN_GHOST_DIR_ASK_IF_RUN_SSP "此tama在一个ghost文件夹中\n运行所在ghost并链接？"
END

#endif    // 中文(简体) resources
/////////////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////////////
// 中文(简体，中国) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_CHS)
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED

#endif    // 中文(简体，中国) resources
/////////////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////////////
// 英语(中性) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_POPUP MENU
BEGIN
    POPUP "popup"
    BEGIN
        MENUITEM "jump to &Top",                ID_TAMA_JUMPTOP
        MENUITEM "jump to &Bottom",             ID_TAMA_JUMPBOTTOM
        MENUITEM SEPARATOR
        MENUITEM "&Copy to clipboard\tCtrl+C",  ID_TAMA_COPY
        MENUITEM SEPARATOR
        MENUITEM "Alert on &Warning",           ID_TAMA_ALERTONWARNING
        MENUITEM "recei&Ve",                    ID_TAMA_RECEIVE
        MENUITEM "Disable auto-transfer of SHIORI ownership", ID_TAMA_DISABLE_AUTO_TRANSFER_SHIORI_OWNERSHIP
        MENUITEM SEPARATOR
        MENUITEM "re&Quest dialog",             ID_TAMA_REQUEST
        MENUITEM SEPARATOR
        MENUITEM "&Reload SHIORI",              ID_TAMA_RELOAD
        MENUITEM "&Unload SHIORI",              ID_TAMA_UNLOAD
        MENUITEM SEPARATOR
        MENUITEM "e&Xit (auto unload)",         ID_TAMA_EXIT
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_SEND_REQUEST DIALOG 0, 0, 282, 146
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "request"
FONT 9, "ＭＳ Ｐゴシック"
BEGIN
    CONTROL         "",IDC_SEND_REQUEST_RICHEDIT,"RICHEDIT",TCS_HOTTRACK | TCS_VERTICAL | TCS_FOCUSONBUTTONDOWN | TCS_MULTISELECT | WS_BORDER | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP,0,0,281,116
    DEFPUSHBUTTON   "request",IDC_SEND,7,125,226,14
    PUSHBUTTON      "close",IDCANCEL,239,125,36,14
END

IDD_GHOST_SELECT DIALOGEX 0, 0, 310, 177
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Ghost select"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,199,156,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,253,156,50,14
    LISTBOX         IDC_GHOST_SELECT_LIST,7,7,296,145,LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
END


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_SEND_REQUEST, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 275
        TOPMARGIN, 7
        BOTTOMMARGIN, 139
    END

    IDD_GHOST_SELECT, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 303
        TOPMARGIN, 7
        BOTTOMMARGIN, 170
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// AFX_DIALOG_LAYOUT
//

IDD_GHOST_SELECT AFX_DIALOG_LAYOUT
BEGIN
    0
END


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE
BEGIN
    IDS_APP_TITLE           "Tama - AYA5 Log Viewer"
    IDS_ERROR_NONE_GHOST    "None of ghost was running."
    IDS_ERROR_TITLE         "Error"
    IDS_ERROR_GHOST_NOT_FOUND_P1 "Target ghost """
    IDS_ERROR_GHOST_NOT_FOUND_P2 """ not found."
    IDS_EVENT_DEF_REMINDER  "A friendly reminder: if nothing happens, you need to add reactions to the tamaOpen and tamaExit events in your ghost\nSee https://github.com/nikolat/tama for details\n\nIf you just want to know where your dic file went wrong, drag aya.dll or yaya.dll into this window\n"
    IDS_ERROR_NULL_GHOST_HWND "Unknown error causes ghost hwnd was NULL."
    IDS_GHOST_SELECT_START_WITH_OUT_GHOST "Start without choosing ghost"
    IDS_ERROR_LOST_GHOST_LINK "Link to target ghost lost, about to exit tama"
END

STRINGTABLE
BEGIN
    IDS_ERROR_GHOST_ALREADY_HAS_TAMA 
                            "The target ghost already has a corresponding tama instance so is about to exit this tama"
    IDS_ERROR_DRAGGING_FILE_IS_NOT_ALLOWED 
                            "Has been linked with the target ghost and another instance of shiori will not be allowed to be loaded.\nPlease open another tama if you need to load another shiori."
    IDS_NEW_VERSION_AVAILABLE "New version available.\njump to download page?"
    IDS_ERROR_UNEXPECTED_EXCEPTION 
                            "An unforeseen exception occurs\nplease send the report file ""Dump.dmp"" to the developer to help locate the problem"
    IDS_TARGET_GHOST_SHIORI_UNLOADED 
                            "The shiori of the target ghost is in the unloaded state\nRight click and select ""Reload"" to make the shiori of the target ghost reload"
    IDS_ASK_IF_GHOST_RUNNING 
                            "This ghost is not running\nTry to start him/her/it/them?"
    IDS_ERROR_RUN_SSP_FAILED "Failed to launch SSP."
    IDS_ERROR_SSP_RUNNING_TIMEOUT "Start SSP timeout."
    IDS_INFO_TITLE          "Attention"
    IDS_SELF_IN_GHOST_DIR_ASK_IF_RUN_SSP 
                            "This tama is in a ghost folder\nRun the ghost where it is and link it?"
END

#endif    // 英语(中性) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

