// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
#include <windows.h>
/////////////////////////////////////////////////////////////////////////////
// 日语(日本) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_JPN)
LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
#pragma code_page(932)

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDC_ENCODER MENU
BEGIN
    MENUITEM "廔椆",                          IDM_EXIT
END

IDR_POPUP MENU
BEGIN
    POPUP "popup"
    BEGIN
        MENUITEM "僩僢僾偵栠傞(&T)",                  ID_TAMA_JUMPTOP
        MENUITEM "壓偵僕儍儞僾(&B)",                  ID_TAMA_JUMPBOTTOM
        MENUITEM SEPARATOR
        MENUITEM "儁乕僗僩儃乕僪偵僐僺乕偡傞(&C)\tCtrl+C",   ID_TAMA_COPY
        MENUITEM SEPARATOR
        MENUITEM "儘僌庴怣(&V)",                    ID_TAMA_RECEIVE
        MENUITEM SEPARATOR
        MENUITEM "儕僋僄僗僩憲怣僷僱儖傪奐偔(&Q)",           ID_TAMA_REQUEST
        MENUITEM SEPARATOR
        MENUITEM "瀤偺嵞憰揢(&R)",                   ID_TAMA_RELOAD
        MENUITEM "瀤偺傾儞儘乕僪(&U)",                 ID_TAMA_UNLOAD
        MENUITEM SEPARATOR
        MENUITEM "廔椆(&X)",                      ID_TAMA_EXIT
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_GHOST_SELECT DIALOGEX 0, 0, 310, 177
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "僑乕僗僩丒僙儗僋僩"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "偄偄",IDOK,199,156,50,14
    PUSHBUTTON      "偲偔",IDCANCEL,253,156,50,14
    LISTBOX         IDC_GHOST_SELECT_LIST,7,7,296,145,LBS_SORT | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
END

IDD_SEND_REQUEST DIALOGEX 0, 0, 282, 146
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "儕僋僄僗僩憲怣"
FONT 9, "俵俽 俹僑僔僢僋", 0, 0, 0x0
BEGIN
    CONTROL         "",IDC_SEND_REQUEST_RICHEDIT,"RICHEDIT",TCS_HOTTRACK | TCS_VERTICAL | TCS_FOCUSONBUTTONDOWN | TCS_MULTISELECT | WS_BORDER | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP,0,0,281,116
    DEFPUSHBUTTON   "憲怣",IDC_SEND,7,125,226,14
    PUSHBUTTON      "偲偔",IDCANCEL,239,125,36,14
END


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_GHOST_SELECT, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 303
        TOPMARGIN, 7
        BOTTOMMARGIN, 170
    END

    IDD_SEND_REQUEST, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 275
        TOPMARGIN, 7
        BOTTOMMARGIN, 139
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// AFX_DIALOG_LAYOUT
//

IDD_GHOST_SELECT AFX_DIALOG_LAYOUT
BEGIN
    0
END

IDD_SEND_REQUEST AFX_DIALOG_LAYOUT
BEGIN
    0
END


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE
BEGIN
    IDS_APP_TITLE           "嬍 - AYA5 Log Viewer"
    IDS_ERROR_NONE_GHOST    "摦嶌拞偺僑乕僗僩偼偁傝傑偣傫"
    IDS_ERROR_TITTLE        "僄儔乕"
    IDS_ERROR_GHOST_NOT_FOUND_P1 "僞乕僎僢僩僑乕僗僩乽"
    IDS_ERROR_GHOST_NOT_FOUND_P2 "乿偑尒偮偐傜側偄"
END

#endif    // 日语(日本) resources
/////////////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////////////
// 中文(简体) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_CHS)
LANGUAGE LANG_CHINESE, SUBLANG_NEUTRAL
#pragma code_page(936)

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDC_ENCODER MENU
BEGIN
    MENUITEM "退出tama",                      IDM_EXIT
END

IDR_POPUP MENU
BEGIN
    POPUP "popup"
    BEGIN
        MENUITEM "跳转到顶部(&T)",                   ID_TAMA_JUMPTOP
        MENUITEM "跳转到底部(&B)",                   ID_TAMA_JUMPBOTTOM
        MENUITEM SEPARATOR
        MENUITEM "复制到粘贴板(&C)\tCtrl+C",          ID_TAMA_COPY
        MENUITEM SEPARATOR
        MENUITEM "日志接收(&V)",                    ID_TAMA_RECEIVE
        MENUITEM SEPARATOR
        MENUITEM "打开request发送面板(&Q)",           ID_TAMA_REQUEST
        MENUITEM SEPARATOR
        MENUITEM "重新加载shiori(&R)",              ID_TAMA_RELOAD
        MENUITEM "卸载shiori(&U)",                ID_TAMA_UNLOAD
        MENUITEM SEPARATOR
        MENUITEM "退出tama(&X)",                  ID_TAMA_EXIT
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_GHOST_SELECT DIALOGEX 0, 0, 310, 177
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "选择ghost"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "确定",IDOK,199,156,50,14
    PUSHBUTTON      "取消",IDCANCEL,253,156,50,14
    LISTBOX         IDC_GHOST_SELECT_LIST,7,7,296,145,LBS_SORT | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
END

IDD_SEND_REQUEST DIALOGEX 0, 0, 282, 146
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "发送request"
FONT 9, "ＭＳ Ｐゴシック", 0, 0, 0x0
BEGIN
    CONTROL         "",IDC_SEND_REQUEST_RICHEDIT,"RICHEDIT",TCS_HOTTRACK | TCS_VERTICAL | TCS_FOCUSONBUTTONDOWN | TCS_MULTISELECT | WS_BORDER | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP,0,0,281,116
    DEFPUSHBUTTON   "发送",IDC_SEND,7,125,226,14
    PUSHBUTTON      "取消",IDCANCEL,239,125,36,14
END


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_GHOST_SELECT, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 303
        TOPMARGIN, 7
        BOTTOMMARGIN, 170
    END

    IDD_SEND_REQUEST, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 275
        TOPMARGIN, 7
        BOTTOMMARGIN, 139
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// AFX_DIALOG_LAYOUT
//

IDD_GHOST_SELECT AFX_DIALOG_LAYOUT
BEGIN
    0
END

IDD_SEND_REQUEST AFX_DIALOG_LAYOUT
BEGIN
    0
END


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE
BEGIN
    IDS_APP_TITLE           "Tama - AYA5日志查看器"
    IDS_ERROR_NONE_GHOST    "没有ghost在运行中"
    IDS_ERROR_TITTLE        "错误"
    IDS_ERROR_GHOST_NOT_FOUND_P1 "未找到目标ghost“"
    IDS_ERROR_GHOST_NOT_FOUND_P2 "”"
END

#endif    // 中文(简体) resources
/////////////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////////////
// 非特定语言(默认值) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_NEUD)
LANGUAGE LANG_NEUTRAL, SUBLANG_DEFAULT
#pragma code_page(936)

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDC_ENCODER MENU
BEGIN
    MENUITEM "Exit Tama",                   IDM_EXIT
END

IDR_POPUP MENU
BEGIN
    POPUP "popup"
    BEGIN
        MENUITEM "jump to &Top",                ID_TAMA_JUMPTOP
        MENUITEM "jump to &Bottom",             ID_TAMA_JUMPBOTTOM
        MENUITEM SEPARATOR
        MENUITEM "&Copy to clipboard\tCtrl+C",  ID_TAMA_COPY
        MENUITEM SEPARATOR
        MENUITEM "recei&Ve",                    ID_TAMA_RECEIVE
        MENUITEM SEPARATOR
        MENUITEM "re&Quest dialog",             ID_TAMA_REQUEST
        MENUITEM SEPARATOR
        MENUITEM "&Reload(unload and load)",    ID_TAMA_RELOAD
        MENUITEM "&Unload",                     ID_TAMA_UNLOAD
        MENUITEM SEPARATOR
        MENUITEM "e&Xit (auto unload)",         ID_TAMA_EXIT
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_SEND_REQUEST DIALOG 0, 0, 282, 146
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "request"
FONT 9, "ＭＳ Ｐゴシック"
BEGIN
    CONTROL         "",IDC_SEND_REQUEST_RICHEDIT,"RICHEDIT",TCS_HOTTRACK | TCS_VERTICAL | TCS_FOCUSONBUTTONDOWN | TCS_MULTISELECT | WS_BORDER | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP,0,0,281,116
    DEFPUSHBUTTON   "request",IDC_SEND,7,125,226,14
    PUSHBUTTON      "close",IDCANCEL,239,125,36,14
END

IDD_GHOST_SELECT DIALOGEX 0, 0, 310, 177
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Ghost select"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,199,156,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,253,156,50,14
    LISTBOX         IDC_GHOST_SELECT_LIST,7,7,296,145,LBS_SORT | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
END


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_SEND_REQUEST, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 275
        TOPMARGIN, 7
        BOTTOMMARGIN, 139
    END

    IDD_GHOST_SELECT, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 303
        TOPMARGIN, 7
        BOTTOMMARGIN, 170
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// AFX_DIALOG_LAYOUT
//

IDD_GHOST_SELECT AFX_DIALOG_LAYOUT
BEGIN
    0
END


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_DRAGFILES           ICON                    "tama.ico"

IDI_SMALL               ICON                    "small.ico"


/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,21
 PRODUCTVERSION 1,0,0,21
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040004b0"
        BEGIN
            VALUE "Comments", "AYA Console"
            VALUE "FileDescription", "tama construction 21"
            VALUE "FileVersion", "1, 0, 0, 21"
            VALUE "InternalName", "tama"
            VALUE "OriginalFilename", "tama.exe"
            VALUE "ProductName", "tama"
            VALUE "ProductVersion", "1, 0, 0, 21"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x400, 1200
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE
BEGIN
    IDS_APP_TITLE           "Tama - AYA5 Log Viewer"
    IDS_ERROR_NONE_GHOST    "None of ghost was running."
    IDS_ERROR_TITTLE        "Error"
    IDS_ERROR_GHOST_NOT_FOUND_P1 "Target ghost """
    IDS_ERROR_GHOST_NOT_FOUND_P2 """ not found."
END

#endif    // 非特定语言(默认值) resources
/////////////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////////////
// 中文(简体，中国) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_CHS)
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
#pragma code_page(936)

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED

#endif    // 中文(简体，中国) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

